
#carouselExampleControls{
    width: 350px;
    height: 350px;
    top: 90%;
    border: solid;
    border-radius: 5px;
}
.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.card {
    border: solid;
    box-shadow: 8px 3px 3px rgb(114, 112, 112);;
}
.text-prin{
    margin-left: 40px;
}
#body{
    font-family: 'Times New Roman', Times, serif;
}
